#widget-container h2{
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}
.theia-container {
    border: none;
    color: var(--theia-secondaryButton-disabledForeground);
    background-color: var(--theia-secondaryButton-disabledBackground);
    min-width: 65px;
    outline: none;
    cursor: default;
    padding: 4px 9px;
    margin-left: calc(var(--theia-ui-padding)*2);
    margin-right: calc(var(--theia-ui-padding)*2);
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px -2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
